* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;

}

body {
    background: #F4F4F4;
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
}

.first_section {
    margin-bottom: 30rem;
    width: 1035px;
    height: 165px;
    flex-shrink: 0;
    margin-left: 116rem;
}

.texto {
    color: #000;
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botao-interativo {
    position: relative;
    display: flex;
    width: 216px;
    height: 154px;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 18rem;
    margin-right: 111rem;
    right: 59rem;
}

.botao-interativo a {
    color: #000;
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: -90px;
}


.contact {
    color: #000;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    margin-left: 25rem;
    width: 20rem;
    margin-top: -10rem;
}

.rua {
    color: #000;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    margin-left: 25rem;
    width: 26rem;
    margin-top: -4rem;
}

.danke {
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    width: 248px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 8rem;
    margin-left: -90px;
}

.logo {
    position: relative;
    margin-left: -39.7rem;
    margin-top: 7.8rem;
}

.back_ {
    background: rgb(253, 248, 0);
    width: 1560px;
    height: 50px;
    margin-left: -80rem;
    margin-top: 2.5rem;
}

.conteudo {
    display: flex;
    height: 108px;
    margin-top: 20px;
    gap: 1990px;
}

.conteudo1 {
    margin-top: 15px;
    margin-right: -1880px;
    line-height: 20px;
    font-size: 22px;
    animation: carousel-animation 10s infinite linear;
    /* Define a animação do carrossel */
}

@keyframes carousel-animation {
    0% {
        transform: translateX(0);
        /* Inicia no ponto inicial */
    }

    100% {
        transform: translateX(-100%);
        /* Desloca para a esquerda */
    }
}

@media (min-width:330px) and (max-width:800px) {
    * {
        margin: 0;
        font-family: 'Manrope', sans-serif;
        text-decoration: none;
        list-style: none;
    }

    body {
        width: auto;
        max-height: auto;
    }

    .first_section {
        margin-right: -28rem;
        margin-top: 7rem;
        width: 280px;
        height: 135px;
        flex-shrink: 0;
    }

    .texto {
        font-size: 20px;
        color: #000;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .botao-interativo {
        margin-top: -3rem;
        margin-left: 22rem;

    }

    .botao-interativo a {
        font-size: 24px;
        font-weight: 800;
        margin-left: 47.5rem;
    }

    .contact {
        font-size: 14px;
        margin-left: 0rem;
        margin-top: 1rem;
    }

    .rua {
        font-size: 14px;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }

    .danke {
        position: relative;
        font-size: 14px;
        margin-left: 47.5rem;
        margin-top: 7rem;
        font-weight: 800;
    }

    .logo {
        width: 82px;
        height: 25px;
        flex-shrink: 0;
        margin-left: -4rem;
    }

    .back_ {
        margin-top: -38.5em;
        height: 45px;
        width: 90%;
    }

    .conteudo1 {
        font-size: 18px;
        margin-top: 0.6rem;

    }

}

@media (max-width:329px) {
    * {
        margin: 0;
        font-family: 'Manrope', sans-serif;
        text-decoration: none;
        list-style: none;
    }

    body {
        width: auto;
        max-height: auto;
    }

    .first_section {
        margin-right: -30rem;
        margin-top: 7rem;
        width: 280px;
        height: 135px;
        flex-shrink: 0;
    }

    .texto {
        font-size: 20px;
        color: #000;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .botao-interativo {
        margin-top: -3rem;
        margin-left: 22rem;

    }

    .botao-interativo a {
        font-size: 24px;
        font-weight: 800;
        margin-left: 49.5rem;
    }

    .contact {
        font-size: 14px;
        margin-left: 0rem;
        margin-top: 1rem;
    }

    .rua {
        font-size: 14px;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }

    .danke {
        position: relative;
        font-size: 16px;
        margin-left: 49.5rem;
        margin-top: 7rem;
        font-weight: 800;
    }

    .logo {
        width: 82px;
        height: 25px;
        flex-shrink: 0;
        margin-left: 14rem;
        opacity: 0;
    }

    .back_ {
        margin-top: -38.5em;
        height: 45px;
        width: 90%;
    }

    .conteudo1 {
        font-size: 18px;
        margin-top: 0.6rem;

    }

}